services:
  quasar-pwa-dev:
    # Construye la imagen usando el Dockerfile en el directorio actual (context: .)
    build:
      context: .
      dockerfile: Dockerfile
      # Especifica la etapa de producción como destino de la construcción
      target: production-stage

    # Asigna un nombre al contenedor para fácil referencia
    container_name: quasar-pwa-app-dev

    # Mapeo de puertos: host_port:container_port
    # Accederás a tu aplicación en http://localhost:8095
    ports:
      - '8095:80'

    # Reinicia el contenedor si se detiene, a menos que se detenga manualmente
    restart: always
